.kdb-content-view h1, .kdb-content-view p, .kdb-content-view ul {
  padding-left: 20px;
  padding-right: 20px;
}

.kdb-content-view h1, .kdb-content-view h2 {
  margin: 18px 0 32px 0;
}

.kdb-content-view ul {
  list-style: circle;
  margin-left: 20px;
}

.kdb-content-view p {
  margin-bottom: 18px;
}

.kdb-setup-btn {
  margin: 40px;
}

.kdb-sidebar-view input {
  margin: 5px 0;
  width: 100%;
}

.kdb-sidebar-view > .listview-wrapper {
  border-top: 1px solid #aaa;
}

.kdb-sidebar-view .kdlistitemview a {
  display: block;
  padding: 4px 0 4px 4px;
  border-bottom: 1px solid #eee;
  text-decoration: none;
  background: white;
}

.kdb-sidebar-view .kdlistitemview a:hover {
  background: #e4e4e4;
}

.kdb-sidebar-view .selected a, .kdb-sidebar-view .selected a:hover {
  background: #f6a22e;
  color: #222;
}